body {
	
}


#rs_nav {
	background-color: #ececec;
	color: #ed6f59;
	margin-bottom: 0;
}

#breadcrumb_container {
	padding: 1em; 
	background-color:#323232; 
	color: white;
}


/*FOR DEVELOPMENT*/

/*Unit Show*/
.report_line {
	border-bottom: 1px solid black;
}